* {
    margin: 1em;
    background-color: #e6dcf877;
}

#inline .div {
    width: 100;
    width: 50px;
    border: dotted 1px;
    margin: 0.5em
}

.img {
    width: 100;
    width: 50px;
    border: 10px;
    margin: 0.5em
}

ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid 15px rgb(202, 155, 165);
    display: flex;
}

form {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(107, 75, 85);
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#inline-flex .img {
    display: inline-flex;
    align-items: center;
    border: 7px cornflowerblue;
    width: auto;
    height: auto;
    background-color: #ccd2f0;
}

#inline-flex .image {
    display: inline-flex;
    align-items: center;
    border: 7px cornflowerblue;
    width: auto;
    height: auto;
    background-color: #ccd2f0;
}